.img {
  width: 250px;
  margin-top: 15px;
}

.text {
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.user__query {
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}